digest.txt
script.py
arquive/

# Data files
/data/raw/
/data/processed/
/data/synthetic/
data/

# Environment folders
__pycache__/

# Jupyter Notebook checkpoints


*.bkp

notebooks/script.py
src/workspace/